<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Detalles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2 class="ion-text-center">Nombre</h2>
  <ion-list lines="full">
      <ion-item *ngIf="todo">
        <ion-input required type="text" placeholder="Materia" [(ngModel)]="todo.materia">
        </ion-input>
      </ion-item>
  </ion-list>
  <ion-button expand="full" color="success" (click)="saveMateria()">Actualizar</ion-button>
  <br><br><br>
  <h2 class="ion-text-center">Otras opciones...</h2>
  <ion-button expand="full" color="warning" routerLink="/estudiante">Estudiantes de la materia</ion-button>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="danger">
    <ion-fab-button color="danger" routerLink="/" routerDirection="forward" (click)="onRemove(todoId)">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" slot="fixed" color="danger">
    <ion-fab-button color="primary" (click)="borrarCookie()" routerDirection="forward">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>